.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
    height:25vh;
    background-color: #937373;
    font-size: 15px;
    font-weight: bold;
    color: #4d8dcd;
    text-shadow: 2px 2px 2px #000;color: #007bff;
    justify-content: center;
}

  .p {
    font-size: 4.2em;
    line-height: 1.1;
    color: #0e1d2c;
    text-shadow: 2px 2px 2px #000;
  }